In [90]:
import pandas as pd

In [91]:
df= pd.read_csv("dataset\google_data_merged.csv")
df['Installs'] = pd.to_numeric(df['Installs'], errors='coerce') / 1e6

<>:1: SyntaxWarning: invalid escape sequence '\g'
<>:1: SyntaxWarning: invalid escape sequence '\g'
C:\Users\RJ\AppData\Local\Temp\ipykernel_4132\3204610497.py:1: SyntaxWarning: invalid escape sequence '\g'
  df= pd.read_csv("dataset\google_data_merged.csv")

In [92]:
 # Group by 'App' and 'Installs', sum the installs, then sort by 'Installs'
top_10_apps = df[['App', 'Installs']].drop_duplicates().sort_values(by='Installs', ascending=False).head(10)
    
top_10_apps["Installs"]= top_10_apps["Installs"].astype(int)

In [95]:
top_10_apps["Installs"]

28720    1000
10470     500
2261      500
10714     100
11089     100
12924     100
12359     100
12022     100
11826     100
11770     100
Name: Installs, dtype: int32

In [101]:
top_10_apps.rename(columns={"Installs" : "Installs(M)"} , inplace=True)

In [102]:
top_10_apps

                                         App  Installs(M)
28720                            Google News         1000
10470                       Candy Crush Saga          500
2261   Google Duo - High Quality Video Calls          500
10714                             Helix Jump          100
11089                            8 Ball Pool          100
12924               Dream League Soccer 2018          100
12359                       Garena Free Fire          100
12022                          Cooking Fever          100
11826                 Cut the Rope FULL FREE          100
11770                       Farm Heroes Saga          100